<% content_for :hero do %>
<div class="hero inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="intro">
          <h2>Admin Overview<span class="tblue">.</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="blog">
  <div class="container">
    <div class="row admin">
      <%= link_to "Users", users_admin_overviews_path, class: "btn btn-default" %>
      <%= link_to "Meals", meals_admin_overviews_path, class: "btn btn-primary" %>
      <%= link_to "Comments", comments_admin_overviews_path, class: "btn btn-success" %>
    </div>
  </div>
</div>