<% content_for :hero do %>
<div class="hero inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="intro">
          <h2>Trending Food<span class="tblue">.</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="blog">
  <div class="container">
    
    <div class="row center">
      <% @meals.each do |meal| %>
        <div class="col-md-4 col-sm-12">
          <div class="posts">
            <div class="post-meta">
              <i class="icon-heart"></i> <%= meal.votes.count %>
              <i class="icon-comment"></i><%= meal.comments.count %>
            </div>
            <div class="post-content">
              <%= link_to image_tag(meal.picture, class: "img-responsive img-thumbnail", size: "300"), meal %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
