<% content_for :hero do %>
<div class="hero inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="intro">
          <h2>Timeline<span class="tblue">.</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="blog">
  <div class="container">
    <div class="row center">
      <div class="col-md4 col-sm-12">
        <%= will_paginate @meals %>
      </div>
    </div>
    <div class="row center">
      <% @meals.each do |meal| %>
        <div class="col-md-4 col-sm-12">
          <div class="posts">
            <div class="post-meta">
              <i class="icon-calendar"></i> <%= meal.created_at.strftime("%d.%m. - %H:%M") %>
              <i class="icon-comment"></i><%= link_to pluralize(meal.comments.count, "Comment") %>
            </div>
            <div class="post-content">
              <%= link_to image_tag(meal.picture, class: "img-responsive img-thumbnail", size: "300"), meal %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
